<div class="container">
    <header>
        <h3>
            <span class="glyphicon glyphicon-user"></span>
            Customer Information
        </h3>
    </header>
    <br>

    <span class="glyphicon glyphicon-th-large"></span> <a routerLink = '/card' > Card View- </a>
    <span class="glyphicon glyphicon-align-justify" style="padding-left:20px;"></span>
     <a routerLink="grid"> View- </a>
    <span class="glyphicon glyphicon-map-marker"  style="padding-left:20px;"></span> Map View-
    <span class="glyphicon glyphicon-plus"  style="padding-left:20px;"></span> New Customer-
</div>     

<router-outlet></router-outlet>