<h3>Reactive Form </h3>
<form class="form-horizontal" [formGroup]='customersInformation' (ngSubmit)="customersFormDetails()">
  <div class="form-group mb-2">
    <label for="firstname" class="sr-only">FirstName</label>
    <input class="form-control " type="text" formControlName='firstName'  [ngClass]="{'is-invalid': (customersInformation.controls.firstName.touched || 
                                  customersInformation.controls.firstName.dirty) && 
                                  !customersInformation.controls.firstName.valid
                    }"
      id="firstname" placeholder="firstname">

    <div class="row" class="invalid-feedback">
      <div class="col-sm-6" *ngIf='customersInformation.get("firstName").errors?.required'>
        <span>first Name is required</span>
      </div>
      <div class="col-sm-6" *ngIf='customersInformation.get("firstName").errors?.minlength'>
        <span>name must have more than 3 characters</span>
      </div>
    </div>
  </div>
  <!-- lastname -->
  <div class="form-group mb-2">
    <label for="lastname" class="sr-only">LastName</label>
    <input class="form-control " 
      type="text" 
      formControlName="lastName" 
      required 
      minlength="3" 
      [ngClass]="{'is-invalid': (customersInformation.get('lastName').touched || 
                                  customersInformation.get('lastName').dirty) && 
                                  !customersInformation.get('lastName').valid
                  }"
      id="lastname" placeholder="Lastname">
    <div class="row" class="invalid-feedback">
      <div class="col-sm-6" *ngIf='customersInformation.get("lastName").errors?.required'>
        <span>last Name is required</span>
      </div>
      <div class="col-sm-6" *ngIf='customersInformation.get("lastName").errors?.minlength'>
        <span>name must have more than 3 characters</span>
      </div>
    </div>
  </div>
  <!-- email group -->
  <div formGroupName = 'emailGroup'>
    <!-- email -->
    <div class="form-group  mb-2">
      <label for="email" class="sr-only">Email</label>
      <input type="email" 
        class="form-control" 
        formControlName="email" 
        
        [ngClass] = "{'is-invalid': (customersInformation.get('emailGroup.email').touched ||
                                    customersInformation.get('emailGroup.email').dirty) &&
                                    customersInformation.get('emailGroup.email').invalid}"
        placeholder="Email">
      <span class="invalid-feedback">
        <span *ngIf = 'customersInformation.get("emailGroup.email").errors?.required'>
          Email address is required 
        </span>
        <span *ngIf = 'customersInformation.get("emailGroup.email").errors?.email'>
          Enter a valid Email address
        </span>
      </span>  
    </div>
    <!-- confirm email -->
    <div class="form-group  mb-2">
      <label for="email" class="sr-only">Confirm Email</label>
      <input type="email" 
        class="form-control" 
        formControlName="confirmEmail" 
        [ngClass] = "{'is-invalid': (customersInformation.get('emailGroup.confirmEmail').touched ||
                                    customersInformation.get('emailGroup.confirmEmail').dirty) &&
                                    customersInformation.get('emailGroup.confirmEmail').invalid}"
        placeholder="Confirm Email">
      <span class="invalid-feedback">
        <span *ngIf = 'customersInformation.get("emailGroup.confirmEmail").errors?.required'>
          Confirm Email address is required 
        </span>
        <span *ngIf = 'customersInformation.get("emailGroup.confirmEmail").errors?.email'>
          Enter a valid Confirm Email address
        </span>
        
      </span>    
    </div>
    
    <span>
        <i [style.color] = "color" *ngIf = "customersInformation.get('emailGroup').errors?.match">
            email and confirm email field doesnot match
        </i>
    </span>  

  </div>
  
  
  <!-- phone -->
  <div class="form-group  mb-2">
    <label for="phone" class="sr-only">Phone</label>
    <input  class="form-control" 
      type="phone" 
      formControlName="phone" 
      [ngClass] = "{'is-invalid': (customersInformation.get('phone').touched ||
                                  customersInformation.get('phone').dirty) &&
                                  !customersInformation.get('phone').valid 
                  }"
      placeholder="Phone">
  </div>
<!-- checkbox verify -->
  
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" formControlName='verify' id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
  <div *ngIf="customersInformation.get('verify').value">
    <!-- email radio button -->
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input"
          type="radio" 
          id="emailchoice" 
          value="email" 
          formControlName='notification'
          (click) = 'setNotification("email")'
          checked>
        <label class="form-check-label" for="emailchoice">
          Email
        </label>
      </div>
      <!-- text radio button -->
      <div class="form-check form-check-inline">
        <input class="form-check-input" 
            type="radio" 
            id="exampleRadios2" 
            formControlName = 'notification'
            (click) = 'setNotification("text")'
            value="text">
        <label class="form-check-label" for="exampleRadios2">
          Text
        </label>
      </div>

    </div>
    <div class="form-group  mb-2">
      <label for="rating" class="sr-only">Rating</label>
      <input type="number" 
        [ngClass] = "{ 'is-invalid':  (customersInformation.get('rating').touched || 
                                      customersInformation.get('rating').dirty) &&
                                      customersInformation.get('rating').invalid}"
        class="form-control" 
        formControlName="rating" 
        placeholder="Rating">
      <span class="invalid-feedback">
        <span *ngIf = 'customersInformation.get("rating").errors?.range'>
          Please Enter a value between 0 and 5
        </span>
      </span>  
    </div>

    

    <div *ngIf="customersInformation.get('verify').value">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="home" value="option1" checked>
          <label class="form-check-label" for="home">
            Home
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Second default radio
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="addresstype" id="exampleRadios3" value="option3" disabled>
          <label class="form-check-label" for="exampleRadios3">
            Disabled radio
          </label>
        </div>

      </div>
      <div class="form-group">
        <input type="text" class="form-control" required id="street1" placeholder="Enter street1">
      </div>
      <div class="form-group">
        <input type="text" name='street2' class="form-control" id="street2" placeholder="Enter street2">
      </div>
      <div class="form-group">
        <input type="text" name='city' class="form-control" required id="city" placeholder="Enter city">
      </div>
      <div class="form-group">
        <input type="text" name='state' class="form-control" required id="state" placeholder="Enter state">
      </div>
      <div class="form-group">
        <input type="number" name='zip' class="form-control" required id="zip" placeholder="Enter state">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">submit</button>
  </div>
</form>