<nav class="navbar navbar-inverse " >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <ul class="nav navbar-nav nav-pills navBarPadding">
                  <li class="nav-item">
                    <img src="assets/images/people.png" alt="logo" />
                <span>   <a class="nav-link text-dark" routerLink = '/customers'> Customer  </a> </span>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" routerLink = '/setting'>Orders</a>
                    
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-light" >About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" > Login </a>
                      </li>
                </ul>
                </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
        </div>
    </nav> 